@import "./common.css";
html{
    scroll-behavior:smooth;
}
div.-about{
    background-image: url(../images/about/pagetitle_about.jpg);
    background-position: bottom;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
section{
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    position: relative;
}
@media screen and (max-width:1199px){
    section{
        width: 100%;
    }
}
/* ---------內容------- */
div.aboutBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:30px 0px 100px 0px;
    position: relative;
}
div.titleBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img.titleImg{
    width: 210px;
}
img.titleImg2{
    width: 300px;
}
span.titleText{
    font-size: 16px;
    color: #646464;
    letter-spacing: 2.5px;
    line-height: 2;
}
div.aboutBox{
    background-image: url(../images/common/background01.jpg);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

/* 品牌故事區01 */
div.story01{
    background-color: white;
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-right: 100px;
}
img.logo{
    width: 300px;
    position: absolute;
    left: 30px;
    top: 30px;
}
p.storyText01{
    position: absolute;
    width: 320px;
    left: 400px;
    top: 30px;
    color: #1e1e1e;
    line-height: 2.5;
    letter-spacing: 2.5px;
}
img.storyImg01{
    width: 330px;
    position: absolute;
    left: -80px;
    top: 250px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
/* 品牌故事區02 */
div.story02{
    background-color: white;
    position: relative;
    width: 600px;
    height: 350px;
    margin-left: 300px;
    margin-bottom: 100px;
}
img.storyImg02{
    width: 400px;
    position: absolute;
    left: 150px;
    top: -200px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
p.storyText02{
    position: absolute;
    width: 320px;
    left: -220px;
    top: 30px;
    color: #1e1e1e;
    line-height: 2.5;
    letter-spacing: 2.5px;
}
@media screen and (max-width:1199px){
    img.titleImg{
        width:190px;
    }
    img.titleImg2{
        width: 260px;
    }
    img.storyImg01{
        left: -50px;
    }
    div.story02{
        width: 500px;
    }
    img.storyImg02{
        left: 70px;
    }
    p.storyText02{
        left: -270px;
    }
    
}
@media screen and (max-width:991px){
    img.titleImg{
        width: 160px;
    }
    img.titleImg2{
        width: 220px;
    }
    div.story01{
        width: 430px;
        height: 300px;
    }
    img.logo{
        left: 20px;
        top: 20px;
        width: 220px;
    }
    img.storyImg01{
        width: 230px;
        top: 180px;
        left: -50px;
    }
    p.storyText01{
        left: 260px;
    }
    div.story02{
        width: 400px;
        margin-left: 230px;
    }
    img.storyImg02{
        width: 300px;
        top: -50px;
        left: 70px;
    }
    p.storyText02{
        width: 280px;
        left: -230px;
        top: 20px;
    }
}
@media screen and (max-width:767px){
    img.titleImg{
        width: 130px;
    }
    img.titleImg2{
        width: 190px;
    }
    div.story01{
        /* border: 1px solid red; */
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 30px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 0px 0px;
    }
    img.logo{
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
    }
    img.storyImg01{
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
    }
    p.storyText01{
        position: relative;
        top: 0;
        left: 0;
        line-height: 2;
        width: 80%;
        margin: 20px 0px;
        color: #646464;
    }

    div.story02{
        /* border: 1px solid red; */
        margin-left: 0px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 0px;
        margin-bottom: 20px;
    }
    img.storyImg02{
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
    }
    p.storyText02{
        position: relative;
        top: 0;
        left: 0;
        line-height: 2;
        width: 80%;
        margin-bottom: 20px;
        color: #646464;
    }
}
@media screen and (max-width:575px){
    div.aboutBox{
        border-radius: 10px;
    }
    img.logo{
        width: 90%;
    }
    img.storyImg01{
        width: 90%;
    }
    p.storyText01{
        line-height: 1.8;
        width: 90%;
    }
    img.storyImg02{
        width: 90%;
    }
    p.storyText02{
        line-height: 1.8;
        width: 90%;
    }
}

/* ---三個圓圈區--- */
div.circle{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
div.circleBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: 2.5px;
    line-height: 2;
    color: #646464;
    margin: 0px 20px;
}
img.circleImg{
    width: 270px;
    border-radius: 100%;
    border: 5px solid white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
span.cricleName{
    font-size: 20px;
    letter-spacing: 2.5px;
    line-height: 2;
    color: #1e1e1e;
}
span.slash{
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: #c9ae93;
    transform: rotate(40deg);
}
@media screen and (max-width:1199px){
    div.circleBox{
        margin: 0px 10px;
    }
    img.circleImg{
        width: 250px;
    }
}
@media screen and (max-width:991px){
    div.circleBox{
        letter-spacing: 2px;
    }
    img.circleImg{
        width: 200px;
        border: 2px solid white;
    }
}
@media screen and (max-width:767px){
    div.circle{
        flex-direction: column;
    }
    div.circleBox{
        margin: 10px 0px 20px 0px;
        letter-spacing: 2.5px;
    }
    img.circleImg{
        width: 280px;
        border: 5px solid white;
    }
}
@media screen and (max-width:413px){
    img.circleImg{
        width: 70%;
    }
}

/*------公司沿革區--------*/
div.history{
    background-color: white;
    position: relative;
    width: 550px;
    height: 350px;
    margin-right: 200px;
    margin-bottom: 100px;
}
img.historyImg{
    width: 400px;
    position: absolute;
    top: 35px;
    left: -50px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
div.historyText{
    display: inline-block;
    width: 400px;
    position: absolute;
    left: 400px;
    top: 40px;
    color: #1e1e1e;
    letter-spacing: 2.5px;
    line-height: 2;
}
div.historyText ul {
    list-style: square;
    list-style-position: inside;
}
span.historyName{
    letter-spacing: 2.5px;
    color: #1e1e1e;
    font-size: 24px;
    display: block;
    border-bottom: 1px solid #c9ae93;
    margin-bottom: 10px;
}
@media screen and (max-width:992px){
    div.history{
        width: 400px;
        height: 260px;
        margin-right: 100px;
    }
    img.historyImg{
        width: 300px;
        top: 25px;
        left: -80px;
    }
    div.historyText{
        width: 340px;
        left: 240px;
        top: 10px;
        line-height: 1.8;
        letter-spacing: 1.5px;
        font-size: 15px;
    }
    div.historyText ul{
        list-style: none;
    }
}
@media screen and (max-width:767px){
    div.history{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        width: 90%;
        height: auto;
        padding: 20px 0px;
    }
    img.historyImg{
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
    }
    div.historyText{
        width: 85%;
        position: relative;
        top: 0;
        left: 0;
        font-size: 16px;
        color: #646464;
    }
}
@media screen and (max-width:575px){
    img.historyImg{
        width: 94%;
    }
    div.historyText{
        width: 94%;
        font-size: 15px;
        letter-spacing: 1px;
    }
}
@media screen and (max-width:413px){
    div.history{
        width: 100%;
        background-color: transparent;
    }
    img.historyImg{
        width: 95%;
    }
    div.historyText{
        width: 92%;
        font-size: 15px;
        letter-spacing: 0px;
        /* color: #646464; */
    }
}



/*---------獨家代理---------*/
div.brandBox{
    display: inline-block;
    width: 500px;
    position: relative;
    background-color: white;
    margin: 50px 250px 50px 0px;
}
img.brandLogo{
    width: 300px;
    margin: 20px;
}
div.brandText{
    width: 360px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 400px;
    letter-spacing: 2.5px;
    line-height: 2;
}
span.brandName{
    display: block;
    font-size: 24px;
    color: #1e1e1e;
    border-bottom: 1px solid #c9ae93;
    margin-bottom: 10px;
}
a.brandLink{
    display: inline-block;
    width: 640px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
img.brandPhoto{
    width: 100%;
    vertical-align: middle;
    transition: all 0.8s;
}
img.logoWhite{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 0.8s;
}
a.brandLink:hover img.brandPhoto{
    filter: brightness(0.5);
}
a.brandLink:hover img.logoWhite{
    opacity: 1;
}

@media screen and (max-width:991px){
    div.brandBox{
        width: 350px;
        margin: 50px 280px 50px 0px;
    }
    img.brandLogo{
        width: 250px;
    }
    div.brandText{
        width: 340px;
        top: 15px;
        left: 300px;
    }
}

@media screen and (max-width:767px){
    div.brandBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        background-color: white;
        margin: 50px 0px 10px 0px;
    }
    img.brandLogo{
        width: 60%;
        margin: 0px;
    }
    div.brandText{
        width: 90%;
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 10px;
        color: #646464;
    }
    a.brandLink{
        width: 90%;
        
    }
    img.logoWhite{
        display: none;
    }
}
@media screen and (max-width:575px){
    img.brandLogo{
        width: 80%;
    }
    div.brandText{
        line-height: 1.8;
    }


}



/* -----------頁籤--------- */
aside{
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 25%;
}
a.tagBox{
    width: 240px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 0px;
    background-color: #c9ae93;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
}
a.tagBox:hover{
    width: 260px;
}
span.tagName{
    color: white;
    font-size: 20px;
    margin: 0px 10px;
    letter-spacing: 1px;
    line-height: 2;
}
img.tagIconCoffee{
    height: 35px;
}
img.tagIconSnack{
    width: 35px;
}
@media screen and (max-width:1199px){
    a.tagBox{
        width: 150px;
        height: 40px;
    }
    a.tagBox:hover{
        width: 150px;
    }
    span.tagName{
        letter-spacing: 1.5px;
        line-height: 1.5;
        font-size: 16px;
    }
    
}
@media screen and (max-width:991px){
    a.tagBox{
        margin: 10px 0px;
        width: 40px;
        height: 40px;
        padding: 10px;
        vertical-align: middle;
        justify-content: center;
    }
    a.tagBox:hover{
        width: 40px;
    }
    span.tagName{
        display: none;
    }

}